{% extends 'main.html' %}

{% block content %}

<h1>Projects Template</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sapiente nemo eaque architecto sunt officiis maiores! Sed et vel voluptatibus est, magnam officiis quasi pariatur similique libero nisi sit ad.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sapiente nemo eaque architecto sunt officiis maiores! Sed et vel voluptatibus est, magnam officiis quasi pariatur similique libero nisi sit adlorem ipsum dolor, sit amet consectetur adipisicing elit. Facere sapiente nemo eaque architecto sunt officiis maiores! Sed et vel voluptatibus est, magnam officiis quasi pariatur similique libero nisi sit ad.</p>

{% endblock content %}